@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box;
}

html {
  background-color: #f4f4f4;
}

.container {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #7700ff;
  color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.ant-btn {
  background-color: #7700ff !important;
  color: white !important;
  border: none !important;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ant-btn:hover {
  background-color: #5a00b3 !important;
  transform: scale(1.05);
}

.work-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.img-view {
  overflow: auto;
  width: 100%;
  display: flex;
  flex: 1;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
}

.canvas {
  margin: auto;
  max-width: 100%;
  border: 3px solid #7700ff;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #7700ff !important;
  color: white !important;
  border: none !important;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #5a00b3 !important;
  transform: scale(1.05);
}

.color-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color {
  border: 2px solid grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.img-info {
  width: 250px;
}

.footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  height: 60px;
  flex-shrink: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.menu-btns {
  margin-right: 10px;
}

.color-picker {
  width: 40px;
  height: 40px;
  background-color: #7700ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.color-picker:hover {
  background-color: #5a00b3;
}

.scale-icon {
  margin-left: 5px;
  cursor: pointer;
}
